* {margin:0; padding: 0;box-sizing: 0; box-sizing: border-box;}

/*--------------------------------Cabeçalho------------------------------------------------------------------------------------*/
header{
    background-color: #191960;         /*Escolhe a cor do fundo da barrinha*/
    color: #fff;                       /*Escolher a cor da letra*/
    padding: 15px;                       /*Escolhe o tamanho do header*/
    text-align: center;                  /*Deixa o texto alinhado no centro*/
    border-bottom: 2px solid #07028b;  /*Coloca uma borda na barrinha*/
}

/*------------------------main galeria de produtos-------------------------------------------------------------------------------*/
.container{
    background-color: #191960 
    min-height: 30vh;              /*Altura minima*/
    padding: 50px;                 /*tamanho do preenchimento*/
    margin-bottom: 10px;           /*define a margin area na parte inferior de um elemento*/
}

/*----------------------------Tennis----------------------------------------------------------------------------------------------*/
.card{
    width: 31%;              /*determina a largura da área de conteúdo de um elemento*/
    display: inline-block;   /*faz com que o elemento HTML seja renderizado inline, dentro do bloco na mesma linha*/
    margin: 1% 1%;           /*Define a área de margem nos quatro lado do elementos*/
    padding: 15px;           /*Define a margin area na parte inferior de um elemento*/
}

/*------------------------------Trabalhando as imagens---------------------------------------------------------------------------------*/
.product-image{
    height: 300px;                  /*Define a altura dos boxes*/
    width: 100%;                    /*determina a largura da área de conteúdo de um elemento*/
    margin-bottom: 10px;            /*define a margin area na parte inferior de um elemento*/
    background-position: center;    /*podemos definir a posição na qual a imagem será inserida*/
    background-size: cover;         /*especifica o tamanho das imagens de fundo*/
}

#img-1{
background-image: url('../img/img-1.jpg'); /*Define uma imagem de fundo para um elemeento*/
}

#img-2{
    background-image: url('../img/img-2.jpg');
}

#img-3{
    background-image: url('../img/img-3.jpg');
}

#img-4{
    background-image: url('../img/img-4.jpg');
}

#img-5{
    background-image: url('../img/img-5.jpg');
}

#img-6{
    background-image: url('../img/img-6.jpg');
    }
    
h3{
    margin-bottom: 10px;                /*define a margin area na parte inferior de um elemento*/
    color: #191960;                  /*Escolher a cor da letra*/
    border-left: 5px solid #191960;  /*define todas as propriedades dar border esquerda de um elemento*/
    padding-left: 7px;                 /*representa a distancia no lado esquerdo do box*/
    font-size: 24px;                   /*Tamanho da fonte*/
}

.bold{
    font-weight: bold;  /*Tamanho da fonte*/
}

.btn{
    display: block;                     /*permite que você defina a maneira de como determinado HTML deve ser redenrizado*/
    width: 100%;                        /*determina a largura da área de conteúdo de um elemento*/
    text-align: center;                 /*Deixa o texto alinhado no centro*/
    text-decoration:none;               /*É usada para definir  formatação de underline, overline, line-through ou blink*/
    text-transform: uppercase;          /*Deixa as letras em maisculas*/
    background-color: #191970;        /*altera a cor do fundo*/
    color: #fff;                      /*altera a cor da leta*/
    padding: 15px;                      /*Define a margin area na parte inferior de um elemento*/
    border-radius: 5px;                 /*bordas arredondadas*/
    transition: 0,5s;                   /*tempo de transição*/
}

.btn:hover{
    background-color: red; /*altera a cor do botão depois do tempo de transição*/
}
    
    

/*Rodape*/
footer{
    background-color: #191970;      /*altera a cor do fundo*/
    color: #fff;                    /*altera a cor da leta*/
    border-top: 3px solid #191970;  /*aplica borda na parte superior */
    padding: 30px;                    /*define a distencias entre o conteudo e um elemento e suas bordas */
    }